* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#header a {
  color: white;
  font-size: 25px;
}
#header nav a img {
  width: 50px;
}
.logo-inicio img,
.logo-registro img {
  width: 100px;
}

nav.navbar {
  background-color: #060358;
  height: 80px;
}

#header,
#footer,
#main {
  font-family: "Open Sans Condensed", sans-serif;
}
#main {
  font-size: 25px;
}
#main .carousel-inner img {
  max-height: 80vh;
  object-fit: cover;
  filter: grayscale(70%);
}
#imagenes img,
h1 {
  max-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#footer h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 25px;
}
#footer .container .parrafo {
  margin-left: 0;
  margin-right: 0;
}

#footer {
  background: #060358;
  color: white;
  height: 80px;
  bottom: 0;
}

.form {
  align-content: center;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario-login,
.formulario-registro,
.formulario-reservas {
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  border: 1px solid lightgrey;
  color: white;
}

.parrafo {
  text-align: justify;
}

.body-login,
.body-registro {
  background-image: url(../img/pexels-ekky-wicaksono-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#link-login a,
#link-registro a {
  color: white;
}

.flashes li {
  list-style: none;
  color: #e00202;
  font-weight: bold;
}

main .main-input-container {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main .main-input-registro input {
  width: 370px;
  height: 40px;
  border: none;
  outline: none;
}

main .main-input input {
  width: 340px;
  height: 40px;
  border: none;
  outline: none;
}

main .main-input .eye-icon,
.main-input-registro .eye-icon {
  background-image: url("/static/img/ojo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.acceso_denegado img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.acceso_denegado a {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: black;
  text-decoration: none;
}

/*css dashboard*/
:root {
  --color_cancelados: #b64b51;
  --color_realizados: rgb(87, 156, 87);
  --color_salidas: rgb(169, 206, 82);
  --color_llegadas: rgb(121, 133, 98);
  --background_color: white;
}
#dropdown li a {
  color: black;
}
.titulo_grafico {
  margin-top: 5px;
  text-align: center;
  color: rgb(8, 8, 8);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.container_grafico {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.grafico {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: conic-gradient(
    var(--color_cancelados) 30%,
    var(--color_realizados) 30% 70%
  );
  box-shadow: 1px 1px rgb(8, 8, 8);
}
.grafico2 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: conic-gradient(
    var(--color_llegadas) 20%,
    var(--color_salidas) 20% 80%
  );
  box-shadow: 1px 1px rgb(8, 8, 8);
}
.container_leyenda {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 5px;
}
.leyenda_all {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
[class^="color_"] {
  width: 15px;
  height: 15px;
  background-color: var(--color_cancelados);
  margin-right: 8px;
  border-radius: 3px;
}
.color_2 {
  background-color: var(--color_realizados);
}
.color_3 {
  background-color: var(--color_salidas);
}
.color_3 {
  background-color: var(--color_llegadas);
}
.color_4 {
  background-color: var(--color_salidas);
}
.social {
  color: rgb(1, 8, 15);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.6;
}
.grafico_barra {
  width: 100%;
  background-color: var(--background_color);
  height: 100%;
}
.grafico_barra .columnas {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.grafico_barra .columnas .escala_y {
  width: 50px;
  display: flex;
  flex-direction: column;
}
.grafico_barra .columnas .escala_y .division {
  height: calc((100%-100px) / 6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}
.grafico_barra .columnas .area_grafico {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.grafico_barra .columnas .area_grafico .area_barras {
  flex-grow: 1;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
}
.grafico_barra .columnas .area_grafico .area_barras .division {
  border: 1px solid rgb(32, 31, 31);
  width: calc(100% / 5);
  height: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.grafico_barra .columnas .area_grafico .area_barras .division .barra {
  width: 50%;
  border-radius: 6px;
  margin: 0 1px;
  background-color: darkcyan;
  display: flex;
  align-items: flex-end;
}
.grafico_barra .columnas .area_grafico .escala_x {
  display: flex;
  height: 80px;
}
.grafico_barra .columnas .area_grafico .escala_x .division {
  width: calc(100% / 5);
  text-align: center;
}

/* CSS Buscar Vuelos


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.body-vuelos,
.body-buscar-vuelos,
.vuelos-ida-vuelta,
.calificar-vuelos {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 25px;
}

/* Style the buttons inside the tab */
.tab a {
  /*background-color: inherit;*/
  float: left;
  border: none;
  border-radius: 0 10px 0 0;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: black;
  /* background-color: #1a6bd5;
  color: white; */
}

/* Change background color of buttons on hover */
.tab a:hover {
  background-color: #1a6bd5;
  color: white;
}

/* Create an active/current tablink class */
.tab a.active {
  background-color: #008cba;
  color: orange;
}

/* Style the tab content */
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.table-buscar-vuelos {
  border-collapse: collapse;
  width: 100%;
}

.header-vuelos a,
.header-vuelos-ida a,
.header-calificar-vuelos {
  color: white;
}

#calificar_vuelos,
#buscar_vuelos_ida_vuelta,
#buscar_vuelos_ida {
  background-color: #1a6bd5;
  color: white;
}

#imagen-vuelos {
  background: url(../img/pexels-aviones.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
#imagen-vuelos-ida-vuelta {
  background: url(../img/pexels-aviones.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

#imagen-vuelos-ida-vuelta {
  background: url(../img/pexels-aviones.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
/*Estilos reservas*/

.body-reservas {
  height: 880px;
  background-image: url("../img/pexels-andrea-piacquadio-842921.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.formulario-reservas ul li {
  list-style: none;
}

.comentarios-contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.comentarios-caja{
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor:pointer;
}

.caja-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20;
}

.nombre-usuario{
  align-items: right;
}

.formulario-comentarios {
  background: rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  border: 1px solid lightgrey;
  color: white;
  justify-content: left;
}

.body-comentarios {
  height: 900px;
  background-image: url("../img/image-comentarios.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 25px;
}