<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script src="{{ url_for('static', filename='js/validacion.js') }}"></script>

    <title>Agregar Vuelo</title>
  </head>
  <body class="body-registro">
    <main>
      <section class="logo-registro">
        <div class="container">
          <div class="row justify-content-center pt-5 mt-5 ms-1">
            <div class="col-md-4 col-lg text-center">
              <img src="../static/img/aeropuerto.png" alt="Logo" />
            </div>
          </div>
        </div>
      </section>
      <section class="section-registro">
        <div class="container">
          <div class="row justify-content-center pt-5 mt-5 ms-1">
            <div class="col-md-4 col-lg-5 formulario-registro">
              <form
                action="/agregar_vuelo"
                method="POST"
                name="formAgregarVuelo"
                onsubmit="validar_formulario_agregar_vuelo();"
              >
                <div class="form-group text-center mb-5">
                  <h2>Agregar Vuelo</h2>
                </div>
                <div class="form-group mx-sm-4">
                  <label for="origen">Origen</label>
                  <input
                    type="text"
                    name="origen"
                    id="origen"
                    class="form-control mt-2 mb-4"
                    placeholder="Ciudad de Origen"
                  />
                </div>
                <div class="form-group mx-sm-4">
                  <label for="destino">Destino</label>
                  <input
                    type="text"
                    name="destino"
                    id="destino"
                    class="form-control mt-2 mb-4"
                    placeholder="Ciudad de Destino"
                  />
                </div>
                <div class="form-group mx-sm-4">
                  <label for="estvuelo">Estado de Vuelo</label>
                  <input
                    type="text"
                    name="estvuelo"
                    id="estvuelo"
                    class="form-control mt-2 mb-4"
                    placeholder="Estado de Vuelo"
                  />
                </div>
                <div class="form-group mx-sm-4">
                  <label for="numvuelo">Numero de Vuelo</label>
                  <input
                    type="text"
                    name="numvuelo"
                    id="numvuelo"
                    class="form-control mt-2 mb-4"
                    placeholder="Numero de Vuelo"
                  />
                </div>
                <div class="form-group mx-sm-4">
                  <label for="numvuelo">Puerta</label>
                  <input
                    type="text"
                    name="puerta"
                    id="puerta"
                    class="form-control mt-2 mb-4"
                    placeholder="Puerta"
                  />
                </div>
                <div class="form-group mx-sm-4">
                  <label for="horasalida">Hora Salida</label>
                  <input
                    type="time"
                    name="horasalida"
                    id="horasalida"
                    class="form-control mt-2 mb-4"
                    placeholder="Hora Salida"
                  />
                </div>
                <div class="form-group mx-sm-4">
                  <label for="horallegada">Hora Llegada</label>
                  <input
                    type="time"
                    name="horallegada"
                    id="horallegada"
                    class="form-control mt-2 mb-4"
                    placeholder="Hora Llegada"
                  />
                </div>
                <div class="form-group mx-sm-4">
                  <label for="fechasalida">Fecha Salida</label>
                  <input
                    type="date"
                    name="fechasalida"
                    id="fechasalida"
                    class="form-control mt-2 mb-4"
                    placeholder="Fecha de Salida"
                  />
                </div>
                <div class="form-group mx-sm-4">
                  <label for="fechavuelta">Fecha vuelta</label>
                  <input
                    type="date"
                    name="fechavuelta"
                    id="fechavuelta"
                    class="form-control mt-2 mb-4"
                    placeholder="Fecha vuelta"
                  />
                </div>
                <div class="form-group mx-sm-4">
                  <label for="pilotoasig">Piloto Asignado</label>
                  <input
                    type="text"
                    name="pilotoasig"
                    id="pilotoasig"
                    class="form-control mt-2 mb-4"
                    placeholder="Piloto Asignado"
                  />
                </div>

                <div class="form-group mx-sm-4">
                  <label for="avionasig">Avión Asignado</label>
                  <input
                    type="text"
                    name="avionasig"
                    id="avionasig"
                    class="form-control mt-2 mb-4"
                    placeholder="Avión Asignado"
                  />
                </div>
                <div class="form-group mx-sm-4">
                  <label for="capvuelo">Capacidad de Vuelo</label>
                  <input
                    type="text"
                    name="capvuelo"
                    id="capvuelo"
                    class="form-control mt-2 mb-4"
                    placeholder="Capacidad de Vuelo"
                  />
                </div>

                <div class="form-row">
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-primary mt-4 mb-4">
                      Agregar Vuelo
                    </button>
                  </div>
                </div>
                <div class="form-group text-center mb-4" id="link-login">
                  <a href="/vuelos">Volver</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
