{% extends 'base.html' %}
  <body class="body-registro">
    {% block body%}      
        <div class="container">
          <div class="row justify-content-center pt-5 mt-5 ms-1">
            <div class="col-md-4 col-lg-5 formulario-registro">
            {%for usuario in usuarios %}
              <form
                action="/update/{{usuario[0]}}"
                method="POST"
                name="formRegistro"
                onsubmit="validar_formulario();"
              >
                <div class="form-group text-center mb-5">
                  <h2>Editar Usuario</h2>
                </div>
                
                <div class="form-group mx-sm-4">
                  <label for="nombre">Nombre Completo</label>
                  <input
                    type="text"
                    name="nombre"
                    id="nombre"
                    class="form-control mt-2 mb-4"
                    placeholder="Nombre completo"
                    value="{{usuario[1]}}"
                  />
                </div>
                <div class="form-group mx-sm-4">
                  <label for="email">Correo electrónico</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control mt-2 mb-4"
                    placeholder="Correo electrónico"
                    value="{{usuario.2}}"
                  />
                </div>
                <div class="form-group mx-sm-4">
                  <div class="wrapp-input main-input-registro">
                    <label for="password">rol</label>
                    <div class="main-input-container">
                      <input
                        type="text"
                        name="rol"
                        id="rol"
                        class="form-control mt-2 mb-4"
                        placeholder="Rol"
                        value="{{usuario.4}}"
                      />
                    </div>
                  </div>
                  {%endfor %}
                <div>
                  {% with messages = get_flashed_messages() %} {% if messages %}
                  <ul class="flashes">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                  </ul>
                  {% endif %} {% endwith %}
                </div>
                <div class="form-row">
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-primary mt-4 mb-4">
                      Actualizar usuario
                    </button>
                  </div>
                </div>
                <div class="form-group text-center mb-4" id="link-login">
                  <a href="/usuarios">Volver</a>
                </div>
              </form>
            </div>
          </div>
        </div>
    {%endblock%}
  </body>
  

